<div style="padding-left: 50px;">
	<h4><p class = "btn"><%= link_to "ADD PHOTO", new_photo_path%></p><br/></h4>
	<p>Album Name:<%= @album.name %></p>
	<p>Discription:<%= @album.discription %></p>
	<p>Photo Name :</p>
</div>