/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.border {
    background-color: lightgreen;
    border-radius: 8px;
    height: auto;
    left: 45%;
    margin: -100px 0 0 -200px;
    position: absolute;
    text-align:center;
    top: 30%;
    width: 500px;
}

.nav-tabs {
	.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
	    content: "";
	    display: table;
	    line-height: 0;
	}
	.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
	    content: "";
	    display: table;
	    line-height: 0;
	}
	.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
	    content: "";
	    display: table;
	    line-height: 0;
	}
	.nav-tabs:after, .nav-pills:after {
	    clear: both;
	}
	.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
	    content: "";
	    display: table;
	    line-height: 0;
	}
	.nav-tabs:after, .nav-pills:after {
	    clear: both;
	}
	.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
	    content: "";
	    display: table;
	    line-height: 0;
	}
	.nav-tabs:after, .nav-pills:after {
	    clear: both;
	}
	.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
	    content: "";
	    display: table;
	    line-height: 0;
	}
	.nav-tabs {
	    border-bottom: 1px solid #ddd;
	}
	.nav-tabs, .nav-pills {
	}
	.nav {
	    list-style: outside none none;
	    margin-bottom: 20px;
	    margin-left: 0;
	}
}
